@page "/"
@namespace Aimitra.WebChat.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aimitra WebChat</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="css/app.css" rel="stylesheet" />
</head>
<body>
    <app>
        @(await Html.RenderComponentAsync<App>(RenderMode.ServerPrerendered))
    </app>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.0/signalr.min.js" integrity="" crossorigin="anonymous"></script>
    <script src="/js/chat.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>
