@page "/"

<h3>Welcome to Aimitra WebChat</h3>

<p>
    <a href="/chat">Open Chat</a>
</p>

<p>
    <a href="/agents">Open Agents</a>
</p>

<p>
    <a href="/agent-designer">Open Agent Designer</a>
</p>
