# Copy this file to .env.local if you want to enable dynamic kernel plugins.
# You can point to one DLL or a folder containing multiple plugin DLLs.
AIMITRA_KERNEL_PLUGIN_ASSEMBLIES=.\Aimitra.SamplePlugins\bin\Debug\net6.0
