# Local development settings
METASYNAPSE_ENVIRONMENT=Local
API_KEY=
OPENAI_URL="https://generativelanguage.googleapis.com/v1beta/openai/"
OPENAI_MODEL="gemini-3.1-flash-lite"
DB_PROVIDER="postgres"
DB_CONNECTION_STRING=
PRESIDIO_ENDPOINT="http://127.0.0.1:8000"
METASYNAPSE_KERNEL_PLUGIN_ASSEMBLIES=\.\\Aimitra.SamplePlugins\bin\Debug\net6.0
DOCUMENT_MEMORY_PROVIDER=kernelmemory
GOOGLE_DRIVE_CLIENT_ID=
GOOGLE_DRIVE_CLIENT_SECRET=
GOOGLE_DRIVE_REDIRECT_URI="http://localhost:5000/google-drive/callback"
CHATBOT_FRAME_ANCESTORS= "'self' https://*.lightning.force.com https://*.my.salesforce.com https://*.ngrok-free.dev"
SALESFORCE_ORIGINS= "https://*.lightning.force.com;https://*.my.salesforce.com;https://*.ngrok-free.dev"
SALESFORCE_INSTANCE_URL="https://orgfarm-69bc773d8f-dev-ed.develop.my.salesforce.com/"
SALESFORCE_API_VERSION="66.0"
CANVAS_CONSUMER_SECRET =